$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css');
@import './navbar.scss';

body {
  .display-when-logged-in {
    display: none;
  }
  .message {
    padding-top: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  padding-top: 50px;
}

#map {
  margin-top: 15px;
  // display: block;
  // float:left;
  // margin-left:0px;
  height: 400px;
  width: 80%;
  /* margin-top:59px; only if header fixed*/
}

#home-msg {
  font-family: 'Rochester', cursive;
  font-size: 40px;
  // padding-top: 60px;
  text-align: center;
  font-weight: lighter;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: bold;
//  display: inline-block;
}

.location {
  // display: inline-block;
  // position: absolute;
  // margin-top: 15px;
}

.back-btn {
  display: none;
}

// spacing in modal form inputs and font
.form-horizontal {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
}

.modal-title,
.modal-body {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  font-weight: bold;
}

// handlebars content
.content {
  // margin-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
}

// table layout for handlebars trips are displayed
table {
  table-layout: fixed;
}

.column-1 {
  width: 40%;
}

.column-2,
.column-3 {
  width: 30%;
}
