// spacing in modal form inputs and font
.form-horizontal {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
}

.modal-title,
.modal-body {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  font-weight: bold;
}
